# Visual Studio
.vs/
*.sln.ide/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.nuget.props
*.nuget.targets
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
packages/

# dotnet
*.dotnetuserprofile

# JetBrains Rider
.idea/
*.sln.iml

# Windows
Thumbs.db
Desktop.ini

# MSIX packaging output
Output/
